<div class="container">
  <div class="demo-headline">
    <h1 class="demo-logo">
      <div class="logo"></div>
      5likes
      <small>Столько лайков, сколько хочешь!</small>
    </h1>
  </div>
  <h1>Доступно <%= @likes_count %> <%= Russian::pluralize(@likes_count, "лайк", "лайки", "лайков") %>.</h1>
</div>